import { <%= hyphenatedToTilteCaseConcatenated(name) %>ResponseType } from "../model/<%= name %>.types";

export class <%= hyphenatedToTilteCaseConcatenated(name) %>Service {
  public getData(): <%= hyphenatedToTilteCaseConcatenated(name) %>ResponseType {
    return { message: '<%= name %>' };
  }
}

export type <%= hyphenatedToTilteCaseConcatenated(name) %>ServiceType = typeof <%= hyphenatedToTilteCaseConcatenated(name) %>Service.prototype;
