import {
  Request,
  Response
} from "express";

import { <%= hyphenatedToTilteCaseConcatenated(name) %>Service } from "./<%= name %>.service";

export const <%= hyphenatedToTilteCaseConcatenated(name) %>Controller = {
  getData: function(req: Request, res: Response) {
    const service = new <%= hyphenatedToTilteCaseConcatenated(name) %>Service();
    res.send(service.getData());
  }
}

export type <%= hyphenatedToTilteCaseConcatenated(name) %>ControllerType = typeof <%= hyphenatedToTilteCaseConcatenated(name) %>Controller;
