import { Router } from "express";
import {
  <%= hyphenatedToTilteCaseConcatenated(name) %>Controller,
  <%= hyphenatedToTilteCaseConcatenated(name) %>ControllerType
} from "./<%= name %>.controller";

export class <%= hyphenatedToTilteCaseConcatenated(name) %>Routes {
  static configure() {
    const router = Router();

    router.get('/', <%= hyphenatedToTilteCaseConcatenated(name) %>Controller.getData);

    return router;
  }
}

export type <%= hyphenatedToTilteCaseConcatenated(name) %>RoutesType = typeof <%= hyphenatedToTilteCaseConcatenated(name) %>Routes.prototype;
